<% if @client.errors.any? %>
  <div class="ls-alert-danger">
    <%= t(:validation_error, scope: [:application_view, :messages]) %>
  </div>
  <ul>
    <% @client.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <br>
<% end %>

<br>

<%= form_with(model: @client, local: true, class: "ls-form-horizontal") do
                                                              |form| %>
<label class="ls-label col-md-3">
  <%= form.label :name %>
  <p class="ls-label-info">
    <%= t(:name, scope: [:client_view, :form_label_info]) %>
  </p>
  <%= form.text_field :name %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :email %>
    <p class="ls-label-info"></p>
  <%= form.text_field :email %>
</label>

<label class="ls-label col-md-3">
  <%= form.label :document %>
  <p class="ls-label-info"></p>
  <%= form.text_field :document %>
</label>

<div class="ls-actions-btn">
  <%= form.submit class: 'ls-btn-primary' %>
</div>

<% end %>
